.videos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
    height: full;
    background-color: #12CBC4;
}
.card{
    border-radius: 10px;
    background: #f5f6fa;
    
}
.card-image{
    height: 200px;
    border: none;
    border-radius: 1em;
    width: 100%;
    object-fit: cover;
    padding: 1em;
}